<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- read/write sdcard permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <receiver android:name=".broadcast.BroadcastReceiverGPS"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.abc"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".TestActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multithreading.HandleActivity"
            android:exported="true"></activity>
        <activity android:name=".multithreading.HandleThreadActivity"></activity>
        <activity android:name=".ArrayAndList" />
        <activity android:name=".MainActivity">

        </activity>
    </application>


</manifest>